# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / packaging
build/
dist/
wheels/
*.egg-info/

# =========================
# Virtual environments
# =========================
.venv/
venv/
ENV/

# =========================
# Environment & secrets
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
